* { 
    margin:0; padding:0;
} 

html, body { 
    width:100%; height:100%;
} 

canvas { 
    display:block;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.project-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 20%;
    padding: 1%;
}

.project-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 5%;
}

.project-tile {
    width: 100%;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
}

.project-tile:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.project-tile .logo {
    width: 2.5rem;
    height: auto;
    border-radius: 15px 0 0 0;
}

.project-tile .hero {
    width: 100%;
    height: auto;
}

.project-tile p {
    margin: 1%;
}

.project-tile .flex-row {
    background-color: blue;
    border-radius: 15px 15px 0 0;
}

.gallery {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;
}

.gallery .img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
}

.gallery .img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .img:nth-child(2n+3) {
    grid-row-start: span 2;
}

.gallery .img:nth-child(4n+5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .img:nth-child(6n+7) {
    grid-row-start: span 1;
}

.gallery .img:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.gallery .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(100);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.gallery .img:hover img {
    filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 900px) {
    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 670px) {
    .gallery {
        display: block;
    }
    .gallery .img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
    }
    .gallery .img img {
        display: block;
        filter: brightness(1) grayscale(0);
    }
}