/*
https://colourco.de/analogic/5/297c60
*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body { 
    position: relative;
    width: 100%;
    height: 100%;
} 

canvas { 
    display:block;
}

#circuit-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}

p, h1, h2, h3, h4, h5, h6 {
    display: block;
    width: fit-content;
}

.border-fade {
    border: 0.2rem;
    padding: 0.2em;
    background: rgba(255,255,255,0.9);
    border-radius: 15px;
    box-shadow: 0px 0px 62px 150px rgba(255,255,255,0.75);
}

.above-shadow {
    z-index: 1;
}

.margins {
    margin: 3% 10% 0 10%;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(138, 120, 138);
    z-index: 100;
}

.logo {
    color: rgb(177, 177, 177);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;    
    margin: 0 12% 0 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 0 0 0 12%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(177, 177, 177);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.nav-slider {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 5px;
    background-color: red;
}

.nav-slider div {
    flex-grow: 1;
    width: 0;
}

.mobile{
    display: none;
    cursor: pointer;
}

.mobile div{
    width: 25px;
    height: 3px;
    background-color: rgb(177, 177, 177);
    margin: 5px;    
}

@media only screen and (max-width: 1024px) {
    .nav-links {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: rgb(138, 120, 138);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-slider {
        display: none;
    }
    .mobile {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle-mobile-nav .line1 {
    transform: rotate(-45deg)  translate(-5px, 6px);
}

.toggle-mobile-nav .line2 {
    opacity: 0;
}

.toggle-mobile-nav .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}